<% comments.each do |comment| %>
    <div class="comments-show">
      <div class="comment">
        <% if User.find_by(id: comment.user_id).name == nil %>
            <p><%= comment.body%> -  <%= link_to User.find_by(id: comment.user_id).email, user_path(User.find_by(id: comment.user_id).id) %><br></p>
        <% else %>
            <p><%= comment.body%> -  <%= link_to User.find_by(id: comment.user_id).name, user_path(User.find_by(id: comment.user_id).id) %><br></p>
        <% end %>
      </div>
    </div>
<% end %>
