<div style="height: 60px; background-color: #f7f7fa">
  <%= image_tag user.avatar.url(:medium), class: "round-image-50" %>
  <% name = user.email unless name = user.name %>
  <span style="margin-left: 5px" ><%= link_to name, user, style: "color: #222; font-family: Muli; font-size: 18px;" %></span>
</div>
