// rete contaner
.rate-container {
  height: auto;
  width: 1000px;
  margin: 0 auto;
  margin-top: -50px;

  #rate-show-hotel {
    width: 1000px;
    height: 200px;
    overflow: hidden;
    margin-top: 30px;

    #rate-avg-hotel{
      width: 400px;
      height:200px;
      float: left;

      #rate-sum {
        text-align: center;
        font-size: 30pt;
        line-height: 20px;
        font-style: bold;
        color:red;
      }

      #rate-count {
        margin-top: -40px;
        text-align: center;
        font-size: 20pt;
      }
    }

    #rate-detail-hotel {
      width: 600px;
      height: 160px;
      float: right;

      .fa-star {
        float: left;
        margin-right: 5px;
        color: #faca51;
      }

      span {
        float: left;
        padding-right: 5px;
        padding-left: 2px;
        margin-top: -4px;
      }
      .bar {
        float:left;
        height: 20px;
        width: 5%;
        p {
          padding-left: 3px;
        }
      }

      .bar-5 {
        background-color: #88b131;
      }

      .bar-4 {
        background-color: #99cc00;
      }

      .bar-3 {
        background-color: #ffcf02;
      }

      .bar-2 {
        background-color: #ff9f02;
      }

      .bar-1 {
        background-color: #ff6f31;
      }

      .clearfix {
        clear:both;
      }
    }
  }
}

.review-comment {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  .add-review {
    height: auto;
  }
  .show-review {
    .border-review{
      border-top: 1px solid #ccc;
    }
    .review-container{
      margin-left: 20px;
      margin-right: 20px;
      .rate-name-user {
      }

      .show-review-content {

      }

      .bt-like-comment {
        margin-bottom: 20px;
        .bt-like:hover {
          cursor: pointer;
        }
        .bt-comment:hover {
          cursor: pointer;
        }
      }





      .show-new-comment {
        margin-left: 20px;
        p {
          line-height: 0em;
          font-size: 15px;
          font-family: Muli;

        }

        .show-comment{
        }

        .new-comment {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.button-like {
  border: none !important;
}

.button-follow {
  background-color:#44c767 !important;
  border-radius:10px !important;
  border:1px solid #18ab29 !important;
  display:inline-block !important;
  cursor:pointer !important;
  color:#ffffff !important;
  font-family:Arial !important;
  font-size:17px !important;
  padding: 0 0 !important;
  text-decoration:none !important;
  text-shadow:0px 1px 0px #2f6627 !important;
  width: 200px;
  height: 45px;
}
.button-follow:hover {
  background-color:#5cbf2a !important;
}
.button-follow:active {
  position:relative !important;
  top:1px !important;
}

.button-follow-tab {
  background-color:#44c767 !important;
  border-radius:5px !important;
  display:inline-block !important;
  cursor:pointer !important;
  color:#ffffff !important;
  font-family:Arial !important;
  font-size:17px !important;
  padding: 0 0 !important;
  text-decoration:none !important;
  text-shadow:0px 1px 0px #2f6627 !important;
  width: 160px;
  height: 45px;
}
.button-follow-tab:hover {
  background-color:#5cbf2a !important;
}
.button-follow-tab:active {
  position:relative !important;
  top:1px !important;
}

.button-send-comment {
  background-color:#44c767 !important;
  border-radius:5px !important;
  display:inline-block !important;
  cursor:pointer !important;
  color:#ffffff !important;
  font-family:Arial !important;
  border: none !important;
  font-size:16px !important;
  padding: 0 0 !important;
  text-decoration:none !important;
  text-shadow:0px 1px 0px #2f6627 !important;
  width: 160px;
  height: 40px;
}
.button-send-comment:hover {
  background-color:#5cbf2a !important;
}
.button-send-comment:active {
  position:relative !important;
  top:1px !important;
}

.button-review {
  background-color:#44c767 !important;
  border-radius:5px !important;
  display:inline-block !important;
  cursor:pointer !important;
  color:#ffffff !important;
  font-family: normal !important;
  border: none !important;
  font-size:16px !important;
  padding: 0 0 !important;
  text-decoration:none !important;
  text-shadow:0px 1px 0px #2f6627 !important;
  width: 160px;
  height: 45px;
}
.button-review:hover {
  background-color:#5cbf2a !important;
}
.button-review:active {
  position:relative !important;
  top:1px !important;
}


.button-comment {
  background-color:#44c767 !important;
  border-radius:5px !important;
  display:inline-block !important;
  cursor:pointer !important;
  color:#ffffff !important;

  font-family: normal !important;
  border: none !important;
  font-size:16px !important;
  padding: 0 0 !important;
  text-decoration:none !important;
  text-shadow:0px 1px 0px #2f6627 !important;
  width: 160px;

  height: 40px;
}
.button-comment:hover {
  background-color:#5cbf2a !important;
}
.button-comment:active {
  position:relative !important;
  top:1px !important;
}
